html{
  background-color: black;
}
.mainContent{
  display:flex;
  background-color:rgb(51, 3, 84);
  border-radius: 25px;
  width:50%;
  border:3px solid gray;
}
.topBar{
  display:flex;
  color:antiquewhite
}
a{
  color:aquamarine
}